:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-family: "Poppins", sans-serif;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}
#hero {
  text-align: center;
  background-color: #f9f7fe;
  max-width: 100%;
}
#hero h2 {
  color: #272142;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
#hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
  margin: 0;
}
#hero p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #272142;
  font-weight: 400px;
}
.top {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  color: #272142;
  line-height: 27px;
}
.content-container {
  padding: 110px 20px;
}
#about-hello {
  font-size: 64px;
  font-family: var(--heading-font-family);
  line-height: 85px;
  font-weight: bold;
}
#frontend-about {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: 700;
}
#about-paragraph {
  font-size: 16px;
  font-family: var(--default-font-family);
  color: #272142b2;
}

.container h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
}

.container p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400px;
}
.content {
  margin: 30px;
}

.btn-branding {
  background-color: #6c63ff;
  color: #ffffff;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.btn-branding-outline {
  background-color: #ffffff;
  color: #6c63ff;
  border-radius: 4px;
  border: 1px solid #6c63ff;
  padding: 12px 20px;
  font-family: "Poppins", sans-serif;
}

img {
  width: 560px;
  height: 560px;
}

@media (max-width: 900px) {
  #hero h1 {
    font-size: 45px;
  }
  .container h2 {
    font-size: 20px;
  }
  .about-section {
    text-align: center;
  }
  .content {
    text-align: center;
  }
}
